Validation for named parameters violates RFC 3986 ("~", ".", "-")

Hi,
As for [RFC3986, section 2.3](https://tools.ietf.org/html/rfc3986#section-2.3), characters "~", ".", "-" are legal besides alphanumeric chars and underscore.
Current server-side validation for named parameters (that may be "path" or "query params" URL part) allows alphanumeric chars and underscore only.
Here's reference to corresponding code: 
`com.google.api.server.spi.dispatcher.PathTrie`:
`private static final Pattern PARAMETER_NAME_PATTERN = Pattern.compile("[a-zA-Z_][a-zA-Z_\\d]*");`